.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.task-action-link a.delete-task {
  text-decoration: none;
  background-color: #dc3545;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
}

.task-action-link a.delete-task:hover {
  background-color: #c82333;
}

.task-action-link a.update-task {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
}

.task-action-link a.update-task:hover {
  background-color: #0056b3;

}

.complete-link {
  text-decoration: none;
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.complete-link:hover {
  background-color: #218838;
}

.undo-link {
  text-decoration: none;
  background-color: #ffc107;
  color: #212529;
  padding: 5px 10px;
  border-radius: 5px;
}

.undo-link:hover {
  background-color: #ffca28;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}


.task-item li {
    margin-bottom: 5px;
}

.task-item li strong {
    font-weight: bold;
}

.task-item li:last-child {
    margin-bottom: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table a {
  text-decoration: none;
  color: #007bff;
}

.table a:hover {
  text-decoration: underline;
}


.h1-link {
  float: right;
  margin-left: 10px;
}

.h1-link a {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.h1-link a:hover {
  background-color: #0056b3;
}

.pagination-container {
    margin-top: 20px;
}
